@using FindInternship.Core.Models.Company;

@model List<CompanyViewModel>
@{
    var first = Model.First();
}

<div id="carouselExampleControls" class="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active">
            <div class="card" style="width: fit-content">
                <div class="img-wrapper">
                    <img src="@first.ProfilePictureUrl" class="d-block w-100" alt="..."> 
                </div>
                <div class="card-body">
                    <h5 class="card-title">@first.Name</h5>
                    <p class="card-text">
                        @first.Address
                    </p>
                    <a href="#" class="btn btn-primary">Повече</a>
                </div>
            </div>
        </div>

        @for(int i = 1; i < Model.Count; i++)
        {
            <div class="carousel-item">
                <div class="card">
                    <div class="img-wrapper"><img src="@Model[i].ProfilePictureUrl" class="d-block w-100" alt="..."> </div>
                    <div class="card-body">
                        <h5 class="card-title">@Model[i].Name</h5>
                        <p class="card-text">
                            @Model[i].Address
                        </p>
                        <a href="#" class="btn btn-primary">Повече</a>
                    </div>
                </div>
            </div>
        }





    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/companies.css" asp-append-version="true" />
}

@section Scripts{
    <script src="~/js/carousel.js" asp-append-version="true"></script>
}
