@using FindInternship.Core.Models.Blog;

@model List<PostViewModel>

<section class="header">
	<div class="text-header">
		<h1>Find Internship News</h1>
	</div>
	<div class="categories">
		<h2>Най-актуалните новини в ИТ сферата</h2>
	</div>
</section>



<section class="posts">
	<div class="row">
		@{
			if (Model.Count == 0)
			{
				<p class="empty">Няма налични публикации</p>
			}
			else
			{

				foreach (var post in Model)
				{

					<div class="card">
						<div class="card__header">
						<img src="@post.HeadImageUrl" alt="card__image" class="card__image" width="600">
					    </div>
					    <div class="card__body">
						<span class="tag tag-blue">Technology</span>
						<h4>@post.Topic</h4>
						<p>@post.Content</p>
					    </div>
					    <div class="card__footer">
						    <div class="user">
							<img src="@post.CompanyName" alt="user__image" class="user__image">
							<div class="user__info">
								<h5>@post.CompanyName</h5>
								<small>@post.CreatedOn</small>
							</div>
						</div>
					</div>
				</div>
				}
			}
		}


	</div>

</section>



@section Styles {
	<link rel="stylesheet" href="~/css/blog.css" asp-append-version="true" />
}