@using System.Security.Claims
@model List<FindInternship.Core.Models.PrivateChat.UsersToChatViewModel>



<h1 class="text-center text-dark" style="margin-top: 20px">Чатове</h1>
<div class="card-stacked" style="margin-top: 30px;">
    <div class="card shadow-line mb-3 chat">

        <div class="archived-messages d-flex p-3">
            <div class="w-100">
                <div class="d-flex pl-0">
                    <div class="d-flex flex-row mt-1">
                        <span class="margin-auto mr-2">
                            <div class="svg15 archived"></div>
                        </span>
                        <p class="margin-auto fw-400 text-dark-75">Последно търсени</p>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-user-panel">
            <div class="pb-3 d-flex flex-column navigation-mobile pagination-scrool chat-user-scroll ps-container">

                @if(Model.Count > 0)
                {
                    foreach (var user in Model.Where(u => u != null))
                    {
                        string message = user.LastMessageToUser == null ? "" : $"{user.LastMessageToUser.User.UserName}: {user.LastMessageToUser.Content}";
                        string lastMessage = message.Contains("<a>") || message.Contains("<span>") ? "Прикачен файл" : message;

                        <a asp-action="Chat" asp-controller="PrivateChat" asp-route-toUsername="@user.Name" asp-route-group="@user.Name-@User.GetUsername()">
                            <div class="chat-item d-flex pl-3 pr-0 pt-3 pb-3">

                                <div class="w-100">
                                    <div class="d-flex pl-0">
                                        @if(user.ProfilePicture == null)
                                        {
                                            <img class="rounded-circle shadow avatar-sm mr-2" src="~/img/blank-profile-picture.png">

                                        }
                                        else
                                        {
                                            <img class="rounded-circle shadow avatar-sm mr-2" src="@user.ProfilePicture">

                                        }
                                        <div style="margin-left: 10px;">
                                            <p class="margin-auto fw-500 fs-med text-dark-75">@user.Name</p>
                                            <div class="d-flex flex-row mt-2">
                                                <span>
                                                    <div class="svg15 double-check"></div>
                                                </span>
                                                <span class="message-shortcut margin-auto text-muted fs-13 ml-1 mr-4">@lastMessage</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </a>
                    }
                }
                


                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;"><div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div></div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />
}

