@using FindInternship.Core.Models.Teacher;
@using FindInternship.Web.Middlewares;
@model TeacherStudentsViewModel;

@{
    Dictionary<string, string> abilityImage = new Dictionary<string, string>()
    {
        {"Entity Framework", "EntityFramework.png"},
        {"C#", "CSharpIcon.png"},
        {"ASP.NET", "ASPLogo.png"},
    };

    Dictionary<string, string> abilityIcon = new Dictionary<string, string>()
    {
        {"Python", "fa-brands fa-python"},
        {"PHP", "fa-brands fa-php"},
        {"JS", "fa-brands fa-js"},
        {"Node.js", "fa-brands fa-node"}
    };
}


<main id="main">
    <section id="team" class="team section-bg">
        <div class="container" style="margin-top:70px" data-aos="fade-up">

            <div class="section-title">
                <h2>@Model.Class </h2>
                <h3>@Model.ClassSpeciality</h3>
            </div>

            <div class="row">
                @foreach (var student in Model.Students)
                {
                    <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="@student.ProfilePictureUrl" width="180" height="240" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>@student.Name</h4>
                                @if (OnlineUserMiddleware.CheckIfUserIsOnline(student.Id))
                                {
                                    <span class="online">Онлайн</span>
                                }
                                else
                                {
                                    <span class="offline">Офлайн</span>
                                }

                                <p>@Model.School</p>
                                <div class="social">
                                    @foreach (var ability in student.Abilities)
                                    {
                                        if (abilityImage.ContainsKey(ability))
                                        {


                                            <a href=""><img src="~/img/@abilityImage[ability]" width="24" height="24" alt=""></a>
                                        }
                                        else
                                        {
                                            <a href=""><i class="@abilityIcon[ability] fa-xl"></i></a>
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>

        </div>
    </section>
</main>

@section Styles{
    <link rel="stylesheet" href="~/css/teacherStudents.css" asp-append-version="true" />
}