@using FindInternship.Core.Models.Meeting
@model List<MeetingViewModel>

@{

    Dictionary<string, string> hours = new Dictionary<string, string>()
    {
        {"09", "9"},
        {"10", "10"},
        {"11", "11"},
        {"12", "12"},
        {"13", "1"},
        {"14", "2"},
        {"15", "3"},
        {"16", "4"},
        {"17", "5"},
        {"18", "6"}

    };
    var day = Model.FirstOrDefault() != null ? Model.FirstOrDefault()!.Number : DateTime.Now.Day;
    var dayText = Model.FirstOrDefault() != null ? Model.FirstOrDefault()!.Day : DateTime.Now.DayOfWeek.ToString();
}


<div class="day-@dayText">
    <div class="date">
        <p class="date-num">@day</p>
        <p class="date-day">@dayText</p>
    </div>
    <div class="events">
        @foreach (var meeting in Model)
        {
            if (meeting.Title != null)
            {
                <div class="event start-@hours[meeting.StartHour!] end-@hours[meeting.EndHour!] corp-fi" id="@meeting.Id" style="margin-top: 10px;">
                    <p class="title"><i class="bi bi-card-heading"></i> @meeting.Title - @meeting.Class</p>
                    <p class="title"><i class="bi bi-building"></i> @meeting.Address</p>
                    <p class="time" style="margin-bottom: 5px"><i class="bi bi-clock"></i> @meeting.StartHour ч. - @meeting.EndHour ч.</p>
                    
                    @if (User.IsInRole("Company"))
                    {
                        <a class="button-81-edit"  asp-action="Edit" asp-controller="Meeting" asp-route-id="@meeting.Id">Промени</a>
                        <a class="button-81-delete" asp-action="Delete" asp-controller="Meeting" asp-route-id="@meeting.Id">Изтрий</a>
                    }

                </div>

            }

        }
    </div>
</div>
