@using FindInternship.Core.Models.Meeting
@model List<MeetingViewModel>

@{
    Dictionary<string, string> hours = new Dictionary<string, string>()
    {
        {"09", "9"},
        {"10", "10"},
        {"11", "11"},
        {"12", "12"},
        {"13", "1"},
        {"14", "2"},
        {"15", "3"},
        {"16", "4"},
        {"17", "5"},
        {"18", "6"}

    };
    var day = Model.FirstOrDefault() != null ? Model.FirstOrDefault().Number : DateTime.Now.Day;
    var dayText = Model.FirstOrDefault() != null ? Model.FirstOrDefault().Day : DateTime.Now.DayOfWeek.ToString();
}


<div class="day-@dayText">
    <div class="date">
        <p class="date-num">@day</p>
        <p class="date-day">@dayText</p>
    </div>
    <div class="events">
        @foreach (var meeting in Model)
        {
            if (meeting.Title != null)
            {
                <div class="event start-@hours[meeting.StartHour] end-@hours[meeting.EndHour] corp-fi" id="@meeting.Id" style="height: fit-content;margin-top: 20px;">
                    <p class="title">@meeting.Title</p>
                    <p class="title">@meeting.Address</p>
                    <p class="time" style="margin-bottom: 5px">@meeting.StartHour ч. - @meeting.EndHour ч.</p>
                    
                    
                    @if (User.IsInRole("Company"))
                    {
                        //TODO: Change style of button

                        <a class="btn btn-warning" asp-action="Edit" asp-controller="Meeting" asp-route-id="@meeting.Id">Промени</a>

                    }


                </div>

            }

        }
    </div>
</div>
