@using FindInternship.Core.Models.Request;
@using FindInternship.Data.Models.Enums;
@model List<AllRequestsViewModel>

@{
    var statusClass = new Dictionary<string, string>()
    {
        {"Waiting", "warning"},
        {"Rejected", "danger"},
        {"Accepted", "success"}
    };

 }

<div class="card">
    <div class="tab-content p-4">
        <div class="tab-pane active show" id="projects-tab" role="tabpanel">
            <div class="d-flex align-items-center">
                <div class="flex-1">
                    <h4 class="card-title mb-4">Молби за практика</h4>
                </div>
            </div>

            <div class="row" id="all-projects">

                @foreach(var request in Model)
                {
                    
                    <div class="col-md-6" id="project-items-@request.Id">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex mb-3">
                                    <div class="flex-grow-1 align-items-start">
                                        <div>
                                            <h6 class="mb-0 text-muted">
                                                <i class="mdi mdi-circle-medium text-danger fs-3 align-middle"></i>
                                                <span class="team-date">@request.DateCreated</span>
                                            </h6>
                                        </div>
                                    </div>

                                </div>

                                <div class="mb-4">
                                    <h5 class="mb-1 font-size-17 team-title" id="topic">@request.Topic</h5>
                                    <p class="text-muted mb-0 team-description" id="message">
                                        @request.Message
                                    </p>
                                </div>
                                <div class="d-flex">
                                    <div class="avatar-group float-start flex-grow-1 task-assigne">
                                        @if (User.IsInRole("Company") && request.Status == RequestStatusEnum.Accepted.ToString())
                                        {
                                            <a class="btn badge-soft-secondary" id="btn-documents" style="font-weight: 600;display:block">Изпрати документи</a>

                                        }
                                        else if (User.IsInRole("Company"))
                                        {
                                            <a asp-action="Teacher" asp-controller="Home" asp-route-id="@request.TeacherId" class="btn badge-soft-secondary" id="btn-class" style="font-weight: 600;display:block">Виж учениците</a>
                                        }
                                    </div>
                                    <div class="align-self-end">
                                        @if (User.IsInRole("Company"))
                                        {
                                            <div class="dropdown">
                                                <a class="badge badge-soft-@statusClass[request.Status] p-2 team-status dropdown-toggle" id="status-@request.Id" style="text-decoration: none; font-size: 1rem" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    @request.Status
                                                </a>


                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" onclick="changeStatus('Accepted', '@request.Id')">Accept</a></li>
                                                    <li><a class="dropdown-item" onclick="changeStatus('Rejected', '@request.Id')">Reject</a></li>
                                                    <li><a class="dropdown-item" onclick="changeStatus('Waiting', '@request.Id')">Waiting</a></li>
                                                </ul>

                                            </div>
                                        }
                                        else if (User.IsInRole("Teacher"))
                                        {
                                            <span class="badge badge-soft-@statusClass[request.Status] p-2 team-status" id="status-@request.Id" style="font-size: 1rem">@request.Status</span>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Styles{
    <link rel="stylesheet" href="~/css/companyProfile.css" asp-append-version="true" />
}

@section Scripts{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/requestCompany.js" asp-append-version="true"></script>
}