@using FindInternship.Core.Models
@model List<ClassViewModel>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="table-responsive">



                    @if (Model.Count == 0)
                    {
                        <div class="text-center" style="font-size: 20px;font-weight: 600;">
                            <p>Няма стажуващи класове</p>

                        </div>
                    }
                    else
                    {
                        <table class="table project-list-table table-nowrap align-middle table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">Клас</th>
                                    <th scope="col">Училище</th>
                                    <th scope="col">Класен ръководител</th>
                                    <th scope="col">Брой ученици</th>
                                    <th scope="col" style="width: 200px;">Ученици</th>
                                    <th scope="col" style="width: 200px;">Действия</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var class1 in Model)
                                {


                                    <tr>

                                        <td class="thickness">@class1.Name</td>
                                        <td><span class="badge badge-soft-success mb-0 thickness">@class1.School</span></td>
                                        <td class="thickness">@class1.Teacher</td>
                                        <td>@class1.Students</td>
                                        <td class="thickness">
                                            <a class="button-81" asp-area="Admin" asp-action="ClassStudents" asp-controller="Class" asp-route-classId="@class1.Id" role="button">Ученици</a>
                                        </td>
                                        <td class="thickness">
                                            <a class="button-81" asp-area="Admin" asp-action="Delete" asp-controller="Class" asp-route-classId="@class1.Id" role="button" style="background-color: red">Изтрий</a>
                                        </td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/comapnyClasses.css" asp-append-version="true" />

}
