@using FindInternship.Core.Models.Meeting
@model AllMeetingsViewModel


<div class="calendar">
    <div class="timeline">
        <div class="spacer"></div>
        <div class="time-marker">9 AM</div>
        <div class="time-marker">10 AM</div>
        <div class="time-marker">11 AM</div>
        <div class="time-marker">12 PM</div>
        <div class="time-marker">1 PM</div>
        <div class="time-marker">2 PM</div>
        <div class="time-marker">3 PM</div>
        <div class="time-marker">4 PM</div>
        <div class="time-marker">5 PM</div>
        <div class="time-marker">6 PM</div>
    </div>
    <div class="days">
       
        @{
            Dictionary<string, string> hours = new Dictionary<string, string>()
            {
                {"13", "1"}, 
                {"14", "2"}, 
                {"15", "3"}, 
                {"16", "4"}, 
                {"17", "5"}, 
                {"18", "6"}

            };
        }
        
        
       @*
        <partial name="_MeetingPartial" model="@Model.DayNow" />
        <partial name="_MeetingPartial" model="@Model.DayTomorrow" />
        <partial name="_MeetingPartial" model="@Model.Day2" />
        <partial name="_MeetingPartial" model="@Model.Day3" />
        <partial name="_MeetingPartial" model="@Model.Day4" /> *@

        <div class="day tues">
            <div class="date">
                <p class="date-num"> 12</p>
                <p class="date-day"> Tues</p>
            </div>
            <div class="events">
                <div class="event start-10 end-1 corp-fi">
                    <p class="title">Corporate Finance</p>
                    <p class="time">10 AM - 12 PM</p>
                </div>
                <div class="event start-1 end-4 ent-law">
                    <p class="title">Entertainment Law</p>
                    <p class="time">1PM - 4PM</p>
                </div>
            </div>
        </div>

        <div class="day tues">
            <div class="date">
                <p class="date-num"> 12</p>
                <p class="date-day">Tues</p>
            </div>
            <div class="events">
                <div class="event start-10 end-1 corp-fi">
                    <p class="title">Corporate Finance</p>
                    <p class="time">10 AM - 12 PM</p>
                </div>
                <div class="event start-1 end-4 ent-law">
                    <p class="title">Entertainment Law</p>
                    <p class="time">1PM - 4PM</p>
                </div>
            </div>
        </div>
        <div class="day tues">
            <div class="date">
                <p class="date-num">11</p>
                <p class="date-day">Wed</p>
            </div>
            <div class="events">
                <div class="event start-10 end-12 writing">
                    <p class="title">Writing Seminar</p>
                    <p class="time">11 AM - 12 PM</p>
                </div>
                <div class="event start-12 end-1 writing">
                    <p class="title">Writing Seminar</p>
                    <p class="time">11 AM - 12 PM</p>
                </div>
                <div class="event start-2 end-5 securities">
                    <p class="title">Securities Regulation</p>
                    <p class="time">2 PM - 5 PM</p>
                </div>
            </div>
        </div>
        <div class="day thurs">
            <div class="date">
                <p class="date-num">12</p>
                <p class="date-day">Thurs</p>
            </div>
            <div class="events">
                <div class="event start-10 end-12 corp-fi">
                    <p class="title">Corporate Finance</p>
                    <p class="time">10 AM - 12 PM</p>
                </div>
                <div class="event start-1 end-4 ent-law">
                    <p class="title">Entertainment Law</p>
                    <p class="time">1PM - 4PM</p>
                </div>
            </div>
        </div>
        <div class="day fri">
            <div id="ignoreOverflow">
                <a class="float">
                    <div class="plus">+</div>
                    <div class="ink-visual-container">
                        <div class="ink-visual-static"></div>
                    </div>
                </a>
            </div>
            <div class="date">
                <p class="date-num">13</p>
                <p class="date-day">Fri</p>
            </div>

            <div class="events">
            </div>
        </div>

    </div>

</div>

@section Styles{
    <link rel="stylesheet" href="~/css/schedule.css" asp-append-version="true" />
}
