@using FindInternship.Core.Models.Meeting
@model AllMeetingsViewModel

@{
    string display = User.IsInRole("Company") ? "block" : "none";
}


<div class="calendar">

    <div class="c-event__creator c-calendar__style js-event__creator isVisible" style="display: none; width: 750px; position: absolute;height: fit-content;
    padding-top: 40px" id="meeting-form">
        
        <h2 class="text-light text-center">Създай среща</h2>

        <form class="requires-validation" id="addEvent">

            <select placeholder="Клас" type="text" name="classId">
                @foreach(var cl in Model.CompanyClasses)
                {
                    <option value="@cl.Id">@cl.Grade (@cl.School)</option>
                }
            </select>
            <span class="text-danger" id="classValidation" style="display:none; font-weight: bold;">Това поле е задължително</span>

            <input placeholder="Тема на срещата" type="text" name="title">
            <span class="text-danger" id="titleValidation" style="display:none;font-weight: bold;">Това поле е задължително</span>

            <lable class="text-light" style="margin-top: 10px">Начален час</lable>
            <input type="datetime-local" name="start" placeholder="start time">
            <span class="text-danger" id="startValidation" style="display:none; font-weight: bold;">Това поле е задължително</span>

            <label class="text-light" style="margin-top: 10px">Краен час</label>
            <input type="datetime-local" name="end" placeholder="end time">
            <span class="text-danger" id="endValidation" style="display:none;font-weight: bold;">Това поле е задължително</span>

            <input placeholder="Адрес на срещата" type="text" name="address">
            <span class="text-danger" id="addressValidation" style="display:none;font-weight: bold;">Това поле е задължително</span>

            <br>

            <button type="submit" class="o-btn js-event__save" id="btn-save">SAVE <span class="fa fa-save"></span></button>
             
        </form>
       
       
    </div>



    <div class="timeline">
        <div class="spacer"></div>
        <div class="time-marker">9 AM</div>
        <div class="time-marker">10 AM</div>
        <div class="time-marker">11 AM</div>
        <div class="time-marker">12 PM</div>
        <div class="time-marker">1 PM</div>
        <div class="time-marker">2 PM</div>
        <div class="time-marker">3 PM</div>
        <div class="time-marker">4 PM</div>
        <div class="time-marker">5 PM</div>
        <div class="time-marker">6 PM</div>
    </div>
    <div class="days @Model.ClassId">
        
        

        <partial name="_MeetingPartial" model="@Model.DayNow"/>
        <partial name="_MeetingPartial" model="@Model.DayTomorrow"/>
        <partial name="_MeetingPartial" model="@Model.Day2"/>
        <partial name="_MeetingPartial" model="@Model.Day3"/>
        <partial name="_MeetingPartial" model="@Model.Day4"/>

        @* <div class="day tues">
            <div class="date">
                <p class="date-num"> 12</p>
                <p class="date-day"> Tues</p>
            </div>
            <div class="events">
                <div class="event start-10 end-1 corp-fi">
                    <p class="title">Corporate Finance</p>
                    <p class="time">10 AM - 12 PM</p>
                </div>
                <div class="event start-1 end-4 ent-law">
                    <p class="title">Entertainment Law</p>
                    <p class="time">1PM - 4PM</p>
                </div>
            </div>
        </div>

        <div class="day tues">
            <div class="date">
                <p class="date-num"> 12</p>
                <p class="date-day">Tues</p>
            </div>
            <div class="events">
                <div class="event start-10 end-1 corp-fi">
                    <p class="title">Corporate Finance</p>
                    <p class="time">10 AM - 12 PM</p>
                </div>
                <div class="event start-1 end-4 ent-law">
                    <p class="title">Entertainment Law</p>
                    <p class="time">1PM - 4PM</p>
                </div>
            </div>
        </div>
        <div class="day tues">
            <div class="date">
                <p class="date-num">11</p>
                <p class="date-day">Wed</p>
            </div>
            <div class="events">
                <div class="event start-10 end-12 writing">
                    <p class="title">Writing Seminar</p>
                    <p class="time">11 AM - 12 PM</p>
                </div>
                <div class="event start-12 end-1 writing">
                    <p class="title">Writing Seminar</p>
                    <p class="time">11 AM - 12 PM</p>
                </div>
                <div class="event start-2 end-5 securities">
                    <p class="title">Securities Regulation</p>
                    <p class="time">2 PM - 5 PM</p>
                </div>
            </div>
        </div>
        <div class="day thurs">
            <div class="date">
                <p class="date-num">12</p>
                <p class="date-day">Thurs</p>
            </div>
            <div class="events">
                <div class="event start-10 end-12 corp-fi">
                    <p class="title">Corporate Finance</p>
                    <p class="time">10 AM - 12 PM</p>
                </div>
                <div class="event start-1 end-4 ent-law">
                    <p class="title">Entertainment Law</p>
                    <p class="time">1PM - 4PM</p>
                </div>
            </div>
        </div>
        <div class="day fri">
            
            <div class="date">
                <p class="date-num">13</p>
                <p class="date-day">Fri</p>
            </div>

            <div class="events">
            </div>
        </div> *@
      
            <div id="ignoreOverflow" style="display:@display">
                <a data-fancybox data-src="#meeting-form" class="float" id="addMeeting">
                    <div class="plus">+</div>
                    <div class="ink-visual-container">
                        <div class="ink-visual-static"></div>
                    </div>
                </a>
            </div>
        

    </div>

</div>

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/schedule.css" asp-append-version="true" />
}
@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="~/js/meeting.js" asp-append-version="true"></script> 
}
