@model FindInternship.Core.Models.Meeting.FormMeetingViewModel

<div class="form-holder" style="display: flex; justify-content: center;">
    <div class="c-event__creator c-calendar__style js-event__creator isVisible" style="width: 750px; position: relative;height: fit-content;
padding-top: 40px; transform: none;top:0;left:0;" id="meeting-form">

        <h2 class="text-light text-center">Изтрий среща</h2>

        <form class="requires-validation" id="editEvent">

            <input type="hidden" value="@Model.CompanyId" id="companyId" />

            <div class="input-group">
                <input type="text" required="" name="title" autocomplete="off" class="input" style="border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;" value="@Model.Title">
                <label class="user-label">Заглавие</label>
                <span class="text-danger" id="addressValidation" style="display:none;font-weight: bold;">Това поле е задължително</span>
            </div>
            <div class="input-group">
                <input type="text" required="" id="start-date" name="start" autocomplete="off" class="input" style="border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;" value="@Model.Start">
                <label class="user-label" id="label-start">Начален час</label>
                <span class="text-danger" id="addressValidation" style="display:none;font-weight: bold;">Това поле е задължително</span>
            </div>
            <div class="input-group">
                <input type="text" required="" id="end-date" name="end" autocomplete="off" class="input" style="border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;" value="@Model.End">
                <label class="user-label" id="label-end">Краен час</label>
                <span class="text-danger" id="addressValidation" style="display:none;font-weight: bold;">Това поле е задължително</span>
            </div>
            <div class="input-group">
                <input type="text" required="" name="address" autocomplete="off" class="input" style="border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;" value="@Model.Address">
                <label class="user-label">Адрес</label>
                <span class="text-danger" id="addressValidation" style="display:none;font-weight: bold;">Това поле е задължително</span>
            </div>
            <div class="input-group">
                <input type="text" required="" name="description" autocomplete="off" class="input" style="border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;height: 5rem;" value="@Model.Description">
                <label class="user-label">Описание</label>
                <span class="text-danger" id="addressValidation" style="display:none;font-weight: bold;">Това поле е задължително</span>
            </div>

            <div class="form-group file-area">
                <label for="images">Ресурси</label>
                <input type="file" name="files" id="files"  multiple="multiple" />
                <div class="file-dummy" id="files-container">
                    @foreach (var material in Model.Materials)
                    {
                        <a target="_blank" href="@material.Url" style="margin-top: 0.5rem">
                            <div class="input-group-text pl-2 pr-2" style="margin-left: 10px; margin-top: 0.5rem;">
                                <div style="display: flex; flex-direction: row;">
                                    <img src="~/img/google-docs.png"
                                         style="height: 26px; width: 26px" />
                                    <div class="pl-1 pt-1 text-dark" style="font-size: medium; padding-top:2px; margin-left: 0.5rem">@material.Name</div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>


            <button class="button">
                <span class="button-content">Промени </span>
            </button>


        </form>


    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="~/css/meetingForm.css" asp-append-version="true" />
}
@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/editMeeting.js" asp-append-version="true"></script>
    <script src="~/js/editMeetingForm.js" asp-append-version="true"></script>
}
