@using FindInternship.Core.Models.Profile;
@model CompanyProfileViewModel


<div class="container">
    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="row align-items-center" style="height: 250px;">
                        <div class="col-md-3">
                            <div class="text-center border-end">
                                <img src="@Model.ProfilePictureUrl"
                                     class="img-fluid avatar-xxl rounded-circle" alt="">
                                <h4 class="text-primary font-size-20 mt-3 mb-2">@Model.Name</h4>
                                <h5 class="text-muted font-size-13 mb-0">ИТ Фирма</h5>
                                @if(Model.Id == User.GetId())
                                {
                                    <a asp-action="Edit" asp-controller="Profile" asp-route-userId="@Model.Id" class="btn btn-primary">Промени</a>
                                }
                               
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="ms-3">
                                <div>
                                    <h4 class="card-title mb-2">Информация</h4>
                                    <p class="mb-0 text-muted">
                                        @Model.Description
                                    </p>
                                </div>
                                <div class="row my-4">
                                    <div class="col-md-12">
                                        <div>
                                            <p class="text-muted mb-2 fw-medium">
                                                <i class="fa-solid fa-at"></i> @Model.Email
                                            </p>
                                            <p class="text-muted fw-medium mb-0">
                                                <i class="fa-solid fa-phone"></i> @Model.PhoneNumber
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <ul class="nav nav-tabs nav-tabs-custom border-bottom-0 mt-3 nav-justfied"
                                    role="tablist">
                                    <li class="nav-item" role="presentation">

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="tab-content p-4">
                    <div class="tab-pane active show" id="projects-tab" role="tabpanel">
                        <div class="d-flex align-items-center">
                            <div class="flex-1">
                                <h4 class="card-title mb-4">Лектори</h4>
                            </div>
                        </div>

                        <div class="row" id="all-projects">
                            @foreach (var lector in Model.Lectors)
                            {
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
                                        <div class="card-body p-4">
                                            <div class="member-profile position-absolute w-100 text-center">
                                                <img class="rounded-circle mx-auto d-inline-block shadow-sm" src="@lector.ProfilePicturUrl" alt="">
                                            </div>
                                            <div class="card-text pt-1">
                                                <h5 class="member-name mb-0 text-center text-primary font-weight-bold">@lector.Name</h5>
                                                <div class="mb-3 text-center">Лектор</div>
                                                <div>@lector.Description</div>
                                            </div>
                                        </div>
				    
                                    </div>
                                </div>
                            }


                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div class="pb-2">
                        <h4 class="card-title mb-3">Относно</h4>
                        <p>
                            @Model.Description
                        </p>
                       
                    </div>
                    <div class="pt-2">
                        <h4 class="card-title mb-4">Технологии</h4>
                        <div class="d-flex gap-2 flex-wrap">
                            @foreach(var technology in Model.Technologies)
                            {
                                <span class="badge badge-soft-secondary p-2">@technology</span>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="card-title mb-4">Детайли</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered mb-0">
                                <tbody>
                                    <tr>
                                        <th scope="row">Име</th>
                                        <td>@Model.Name</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Адрес</th>
                                        <td>@Model.Address @Model.City @Model.Country</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Имейл</th>
                                        <td>@Model.Email</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/companyProfile.css" asp-append-version="true" />
}