@using FindInternship.Core.Models.Profile;
@model CompanyProfileViewModel


<div class="container">
    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="row align-items-center" style="height: fit-content;">
                        <div class="col-md-3">
                            <div class="text-center border-end">
                                @if (Model.ProfilePictureUrl == null)
                                {
                                    <img src="~/img/blank-profile-picture.png"
                                         class="img-fluid avatar-xxl rounded-circle" alt="">
                                }
                                else
                                {
                                    <img src="@Model.ProfilePictureUrl"
                                         class="img-fluid avatar-xxl rounded-circle" alt="">
                                }

                                <h4 class="font-size-20 mt-3 mb-2">@Model.Name</h4>
                                <h5 class="text-muted font-size-13">ИТ Фирма</h5>
                                @if (Model.Id == User.GetId())
                                {
                                    <a asp-action="Edit" asp-controller="Profile" asp-route-userId="@Model.Id" class="btn btn-warning" style="margin: 10px 0px">Промени</a>
                                }

                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="ms-3">
                                <div>
                                    <h4 class="card-title mb-2">Информация</h4>
                                    <p class="mb-0 text-muted">
                                        @Model.Description
                                    </p>
                                </div>
                                <div class="row my-4">
                                    <div class="col-md-12">
                                        <div>
                                            <p class="text-muted mb-2 fw-medium">
                                                <i class="fa-solid fa-at"></i> @Model.Email
                                            </p>
                                            <p class="text-muted fw-medium mb-0">
                                                <i class="fa-solid fa-phone"></i> @Model.PhoneNumber
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <ul class="nav nav-tabs nav-tabs-custom border-bottom-0 mt-3 nav-justfied"
                                    role="tablist">
                                    <li class="nav-item" role="presentation">

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">

                <div class="tab-content p-4">
                    <div class="tab-pane active show" id="projects-tab" role="tabpanel">
                        <div style="flex-direction: row; display: flex;">
                            <div class="d-flex align-items-center">
                                <div class="flex-1">
                                    <h4 class="card-title mb-4">Преподаватели</h4>
                                </div>
                            </div>
                            @if (User.GetId() == Model.Id)
                            {
                                <div class="add-lector">
                                    <a asp-controller="Lector" asp-action="Add">+</a>

                                </div>
                            }


                        </div>

                        <div class="row" id="all-projects">
                            @foreach (var lector in Model.Lectors)
                            {
                                <section class="module-trainers-section">
                                    <article class="module-trainers one-trainer">
                                        <section class="module-trainer-info module-single-trainer-info desktop">
                                            <article class="module-trainer-info-img-container module-single-trainer-info-img-container">
                                                <img class="module-trainer-info-img" alt="Profile Picture" src="@lector.ProfilePicturUrl" style="height: 100%" />
                                            </article>
                                            <p class="module-trainer-info-name">
                                                @lector.Name
                                            </p>
                                            <p class="module-trainer-info-role">
                                                Преподавател
                                            </p>
                                            <article class="module-single-trainer-description">
                                                @lector.Description
                                            </article>
                                            <a asp-action="Delete" asp-controller="Lector" asp-route-id="@lector.Id" class="btn btn-danger">Delete</a>
                                        </section>
                                    </article>
                                </section>
                            }


                        </div>




                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div class="pb-2">
                        <h4 class="card-title mb-3">Относно</h4>
                        <p>
                            @Model.Services
                        </p>

                    </div>
                    <div class="pt-2">
                        <h4 class="card-title mb-4">Технологии</h4>
                        <div class="d-flex gap-2 flex-wrap">
                            @foreach (var technology in Model.Technologies)
                            {
                                <span class="badge badge-soft-secondary p-2">@technology</span>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="card-title mb-4">Детайли</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered mb-0">
                                <tbody>
                                    <tr>
                                        <th scope="row">Име</th>
                                        <td>@Model.Name</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Адрес</th>
                                        <td>@Model.Address @Model.City @Model.Country</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Имейл</th>
                                        <td>@Model.Email</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/companyProfile.css" asp-append-version="true" />
}