@using FindInternship.Core.Models.Profile;
@model ProfileViewModel



<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="@Model.ProfilePictureUrl" alt="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    @Model.Name
                </h5>
                <h6>
                    @Model.Role
                </h6>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                    @if (Model.Role.ToLower() == "company")
                    {
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <a class="profile-edit-btn" name="btnAddMore"> Edit Profile </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
                <p>SKILLS</p>
                @foreach (string skill in Model.Abilities)
                {
                    <span>@skill</span><br />
                }
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                        </div>
                        <div class="col-md-6">
                            <p>@Model.Name</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p>@Model.Email</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                            <p>@Model.Phone</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>City</label>
                        </div>
                        <div class="col-md-6">
                            <p>@Model.City, @Model.Country</p>
                        </div>
                    </div>
                    
                </div>
                @if (Model.Role.ToLower() == "company")
                {
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        <div class="row">
                            <div class="col-md-12">
                                <label>Your Bio</label><br />
                                <p>@Model.Description</p>
                            </div>
                        </div>
                    </div>

                }
               
            </div>
        </div>

    </div>
</div>
@section Styles{
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
}