﻿@using FindInternship.Core.Models.Profile;
@model StudentProfileViewModel;

@{
    int percent = 30;
    percent = Model.Class.Split(" ")[0] switch
    {
        "12" => 90,
        "11" => 75,
        "10" => 60,
        "9" => 45
    };

}

<div class="container" style="margin-top: 50px;">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            @if(Model.ProfilePictureUrl != null)
                            {
                                <img src="@Model.ProfilePictureUrl" class="rounded-circle" width="150">
                            }
                            else
                            {
                                <img src="/img/blank-profile-picture.png" class="rounded-circle" width="150">
                            }

                            <div class="mt-3">
                                <h4>@Model.Name</h4>
                                <p class="text-muted font-size-sm">@Model.Address, @Model.City, @Model.Country</p>
                                <a asp-action="Edit" asp-controller="Profile" asp-route-userId="@Model.Id" class="btn btn-primary">Промени</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Име</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Name
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Имейл</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Email
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Телефон</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.PhoneNumber
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Клас</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Class
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Адрес</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Address, @Model.City, @Model.Country
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3" style="width: -webkit-fill-available;">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3">Занания</h6>
                                @foreach (var ability in Model.Abilities)
                                {
                                    <small>@ability</small>
                                    <div class="progress mb-3" style="height: 5px">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: @percent%" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/student.css" asp-append-version="true" />
}