@using FindInternship.Core.Models.Users
@model UsersQueryModel

<div class="main-container">
    <div class="main">
        <div class="box-container">

            <div class="box box1">
                <div class="text">
                    <h2 class="topic-heading counter" data-to="1000" data-speed="2000">@Model.UsersCount</h2>
                    <h2 class="topic">Потребители</h2>
                </div>

                <img src="~/img/eyeIcon.png" alt="Views">
            </div>

            <div class="box box2">
                <div class="text">
                    <h2 class="topic-heading counter" data-to="1000" data-speed="2000">@Model.AcceptedRequestsCount</h2>
                    <h2 class="topic">Одобрени молби</h2>
                </div>

                <img src="~/img/likeIcon.png" alt="likes">
            </div>

            <div class="box box3">
                <div class="text">
                    <h2 class="topic-heading counter" data-to="1000" data-speed="2000">@Model.MessagesCount</h2>
                    <h2 class="topic">Съобщения</h2>
                </div>

                <img src="~/img/messageIcon.png" alt="comments">
            </div>

            <div class="box box4">
                <div class="text">
                    <h2 class="topic-heading counter" data-to="1000" data-speed="2000">@Model.MeetingsCount</h2>
                    <h2 class="topic">Организирани срещи</h2>
                </div>

                <img src="~/img/checkIcon.png" alt="published">
            </div>
        </div>

        <div class="report-container">
            <div class="report-header">
                <h1 class="recent-Articles">Потребители</h1>
                <form method="get">
                    <div class="searchbar">
                        <input asp-for="@Model.SearchString" type="text" placeholder="Търси">
                        <button class="searchbtn">
                            <img src="~/img/searchIcon.png" class="icn srchicn" alt="search-icon">
                        </button>
                    </div>

                </form>
                
            </div>

            <div class="report-body">
                <div class="report-topic-heading">
                    <h3 class="t-op">Снимка</h3>
                    <h3 class="t-op">Име</h3>
                    <h3 class="t-op">Имейл</h3>
                    <h3 class="t-op">Регистрация</h3>
                    <h3 class="t-op">Действия</h3>
                </div>

                <div class="items">

                    @if(Model.Users.Count == 0)
                    {
                        <p class="text-center">Няма съвпадащи потребители</p>
                    }
                    else
                    {
                        foreach(var user in Model.Users)
                        {
                            <div class="item1" style="margin-bottom: 10px;">
                                <div class="media-left">
                                    @if(user.ProfilePictureUrl == null)
                                    {
                                    <img src="~/img/blank-profile-picture.png"
            class="rounded-circle shadow avatar-md mr-3" alt="Profile Picture">
                                    }
                                    else
                                    {
                                        <img src="@user.ProfilePictureUrl"
                                             class="rounded-circle shadow avatar-md mr-3" alt="Profile Picture">
                                    }
                                </div>
                                <h3 class="t-op-nextlvl ml-40">@user.Name</h3>
                                <h3 class="t-op-nextlvl ml-40">@user.Email</h3>
                                <h3 class="t-op-nextlvl ml-40">@user.RegisteredOn</h3>
                                <div style="display: flex; flex-direction: column;">
                                    @if (!user.IsApproved)
                                    {
                                        <a asp-area="Admin" asp-controller="User" asp-action="AcceptRequest" asp-route-id="@user.Id" class="t-op-nextlvl label-tag" style="text-decoration: none; margin-bottom: 10px;">Одобри</a>
                                    }
                                    <a asp-area="Admin" asp-controller="User" asp-action="DeleteUser" asp-route-id="@user.Id" class="t-op-nextlvl label-tag-delete" style="text-decoration: none;">Изтрий</a>
                                </div>
                            </div>
                            <hr>
                        }
                    }
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/adminResponsive.css" asp-append-version="true" />
}

                           